<header>
	<div class="header-top">
		<div id="header_img_container">
			<a href="index.html"
				><img
					id="header_img"
					src="css/images/AiEd_no_background.png"
					alt="Ai ed logo displaying a darker green 'Ai'. Above is a lighter shade of green displaying 'Ed'"
			/></a>
		</div>
		<button class="hamburger" id="hamburger" aria-label="Toggle menu">
			<span class="hamburger-line"></span>
			<span class="hamburger-line"></span>
			<span class="hamburger-line"></span>
		</button>
		<nav>
			<ul class="nav_links">
				<li><a class="navigation_link" href="index.html">Home</a></li>
				<li>
					<a class="navigation_link" href="overview.html"
						>Overview <br />and Benefits</a
					>
				</li>
				<li>
					<a class="navigation_link" href="challenges.html"
						>Challenges <br />
						and Ethics</a
					>
				</li>
				<li><a class="navigation_link" href="contact.html">Contact Us</a></li>
				<li><a class="navigation_link" href="references.html">References</a></li>
			</ul>
		</nav>
	</div>
</header>